# Regression in Scikit-learn

# Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# other
# most important work when you import import libraries sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# improt dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [18]:
# simple linear regression
x = df[['age']]  # x is feature always write dublidemination[[]] other wise convert series.
y = df['fare']

In [19]:
# x and y values find null
x.isnull().sum() / len(x) * 100

age    19.86532
dtype: float64

In [13]:
y.isnull().sum() / len(x) * 100

0.0

In [20]:
# values ko fill krna x .
x.age.fillna(value = x['age'].mean(), inplace =True)

C:\Users\Rao Hammad Raza\AppData\Local\Temp\ipykernel_8896\912430153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.age.fillna(value = x['age'].mean(), inplace =True)

In [21]:
x.isnull().sum() / len(x) * 100

age    0.0
dtype: float64

In [22]:
x

           age
0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
..         ...
886  27.000000
887  19.000000
888  29.699118
889  26.000000
890  32.000000

[891 rows x 1 columns]

In [23]:
y.isnull().sum()

0

# X is feathures

In [24]:
x.shape

(891, 1)

# Y is Series

In [25]:
y.shape

(891,)