#How to import dataset in python using pandas library
written by: RAO\

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [4]:
df

   height  weight  favourit_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

view dataframes in python using pandas

In [6]:
df.head

<bound method NDFrame.head of    height  weight  favourit_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         87 non-null     object
 1   weight         87 non-null     int64
 2   favourit_dish  87 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [11]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [8]:
df.shape

(87, 3)

In [12]:
df.columns

Index(['height', 'weight', 'favourit_dish'], dtype='object')

In [16]:
df.describe()

           weight
count   87.000000
mean    70.459770
std     16.753899
min     25.000000
25%     60.000000
50%     70.000000
75%     80.000000
max    125.000000

In [17]:
df.T #transpose

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
favourit_dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [20]:
df.sort_index()

   height  weight  favourit_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

In [21]:
df.sort_index(ascending=False)

   height  weight  favourit_dish
86    5.1      96        Biryani
85    6.2      68  Chicken Pulao
84    5.4      61        Biryani
83    5.9      75  Karahi Ghosht
82    5.4      55          Pasta
..    ...     ...            ...
4     5.9      55  Chicken Pulao
3     5.9      95  Chicken Pulao
2     5.9      62  Karahi Ghosht
1     6.2      92        Biryani
0     5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [22]:
df.sort_values(by="height")

TypeError: '<' not supported between instances of 'float' and 'str'