#How to import dataset in python using pandas library
written by: RAO\

In [6]:
import pandas as pd

In [7]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\python\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\python\lib\site-packages (from openpyxl) (1.1.0)

In [10]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [11]:
print(df)

   height  weight  favourit_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

In [15]:
df.head(7)

  height  weight  favourit_dish
0    5.8     101  Chicken Pulao
1    6.2      92        Biryani
2    5.9      62  Karahi Ghosht
3    5.9      95  Chicken Pulao
4    5.9      55  Chicken Pulao
5    5.3      59        Biryani
6    5.6      50          Pasta

In [16]:
df.tail(6)

   height  weight  favourit_dish
81    5.5      52  Karahi Ghosht
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

In [14]:
df.shape

(87, 3)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         87 non-null     object
 1   weight         87 non-null     int64
 2   favourit_dish  87 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB